{% extends "layout.html" %}
{% block title %}Form{% endblock %}
{% block content %}
    <div class="container">
        <div class="row p-5">
            <div class="col-1"></div>
            <div class="col-10 border p-3">
                <h1 class="text-center">Form</h1>
                <form action="api" method="post">
                    <label for="year">Year:</label><br/>
                    <input type="text" id="year" name="year"><br/>

                    <!-- Prisklass dropdown -->
                    <label for="pricegroup">Prisklass:</label><br/>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Prisklass
                        </a>                      
                        <ul class="dropdown-menu">
                            {% for class in price_class %}
                            <li><a class="dropdown-item" href="#">{{class}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <!-- Sumbit button -->
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>
            </div>    
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}