{% extends "layout.html" %}
{% block title %}Form{% endblock %}
{% block content %}
    <div class="containers" >
        <div class="row p-5">
            <div class="col-1"></div>
            <div class="col-10 border p-3 bg-dark">
                <h1 class="text-center">Form</h1>
                <div class="col-2"></div>
                <div class="col-6">
                <form action="api" method="post" class="was-validated">
                    <label for="date">Datum:</label><br/>
                    <input type="text" id="date" name="date" placeholder="{{curr_date}}" required><br/>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Invalid input</div>

                    <!-- Prisklass dropdown -->
                    <label for="priceclass">Prisklass:</label>                     
                    <select name="priceclass" id="priceclass" class="form-select">   
                        {% for class in price_class %}                             
                            <option value="{{class[0:3]}}">{{class}}</option>                         
                        {% endfor %}                     
                    </select>
                    
                    <!-- Sumbit button -->
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>
                </div>
                <div class="col-2"></div>
            </div>    
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}
